button {
    // padding: 1rem 1.875rem;
    cursor: pointer;
}

//hamburger open styles
.open {
    >span:first-child {
        transform: rotate(45deg);
    }
    >span:nth-child(2) {
        opacity: 0;
    }
    >span:last-child {
        transform: rotate(-45deg);
    }
}

a {
    @apply pr-9;
}