<div class="header bg-green-400 flex items-center justify-between md:px-12 px-4 h-8 md:h-12">
    <div><a href="/" class="text-base">Surya</a></div>

    <div class="hamburger md:hidden block">
        <mat-icon (click)="layoutService.toggleSidenav()">menu</mat-icon>
    </div>

    <div class="nav__links md:flex items-center justify-between h-full hidden">
        <a href="#">About</a>
        <a href="#">Experience</a>
        <a href="#">Work</a>
        <a href="#">Skills</a>
        <a href="#">Contact</a>
        <button mat-stroked-button color="primary">Resume</button>
    </div>
</div>