<!-- 
    TODO Add breakpoints to check if mobile or if web
    TODO If mobile hide top links 
    TODO If web hide hamburger and make sure close the sidenav and disable it
    TODO Add toggle settings for sidenav --  When sidenav closed show hamburger -- When open show the cross on the side
    TODO Add css to links in sidenav
 -->
<mat-sidenav-container class="w-full" style="height: 100vh;">
    <mat-sidenav #sidenav style="width: 100%;" position='end'>
        <!-- list of nav icons -->
        <div class=" sidenav relative ">
            <mat-icon class="absolute right-4 top-4 text-4xl cursor-pointer" (click)="sidenav.close()">close</mat-icon>
            <div class="nav__links flex flex-col items-center justify-between w-full h-full py-24 text-2xl">
                <a href="# ">About</a>
                <a href="# ">Experience</a>
                <a href="# ">Work</a>
                <a href="# ">Skills</a>
                <a href="# ">Contact</a>
            </div>
        </div>
    </mat-sidenav>

    <mat-sidenav-content class="bg-darkGreen" style="height: 100vh">
        <div class="flex flex-col h-full">
            <app-header class="shadow-2xl"></app-header>
            <div style="flex: 1;">
                <app-body></app-body>
            </div>
        </div>


    </mat-sidenav-content>
</mat-sidenav-container>