<div class="body font-mono grid-container h-full fixed">
    <div class='flex flex-col justify-self-end self-end mb-24 space-y-4 items-center'>
        <div class="h-44 bg-gray-400  justify-self-end" style="width: 1px;height: 200px;"></div>
        <div class="w-8 h-8 rounded-full bg-gray-400"></div>
        <div class="w-8 h-8 rounded-full bg-gray-400"></div>
        <div class="w-8 h-8 rounded-full bg-gray-400"></div>
        <div class="w-8 h-8 rounded-full bg-gray-400"></div>
    </div>



    <div class="text-white overflow-y-auto p-9 md:p-24 flex items-center" style=" -ms-overflow-style: none;scrollbar-width: none;">
        <div>
            <h3 class="font-extrabold  text-gray-500" style="margin-bottom: -15px;">Hi, my name is</h3>
            <h2 class="big-heading text-gray-100" style="line-height: 1.3;">Sai Surya.</h2>
            <h2 class="big-heading-1 text-gray-300" style="line-height: 1.3;">Full Stack Web Developer</h2>
            <p style="margin-top: 20px;" class="text-lg text-gray-400">
                I am a bangalore based software engineer who enjoys <span class="text-white">designing</span> ,<span class="text-white">developing</span> and  <span class="text-white">deploying</span> for the web.
            </p>
            <button mat-stroked-button class="text-green px-32 py-12" style="font-size: x-large;font-weight: 400;margin-top: 20px;">Get in touch</button>
        </div>

    </div>



    <div style="writing-mode: vertical-lr;" class="flex flex-col self-end mb-24 text-gray-200">
        <!-- <div class="h-44 bg-green justify-self-end" style="width: 2px;height: 200px;"></div> -->
        <div><span class="text-lg">r.saisuryamadhav@gmail.com</span></div>
    </div>
</div>